<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${user.name}">name</title>
</head>

<body>
    <!-- <h2><a th:href="@{/users}/${user.profileString}">Back to user home page</a></h2> -->

    <h1 th:text="${user.name}">name</h1>
    <!-- profile pic -->



    <ul>
        <li th:each="photo: ${photos}">
            <p th:text="${photo.description}">datetime</p>
        </li>
    </ul>

    <h2>Add photo</h2>
    <form th:action="#" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo" />
        <input type="text" name="description" />
        <input type="hidden" name="username" th:value="${user.username}" />
        <input type="submit" value="Add" />
    </form>


</body>

</html>