<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="fragments/basic :: head('Meower Album - ' + ${user.username})"
  >
  </head>

  <body>
    <nav th:replace="fragments/basic :: nav"></nav>

    <div class="jumbotron text-center title">
      <h1>Meower Album</h1>
    </div>

    <div class="container w80-c text-center">
      <div class="row">
        <div class="col-6">
          <h2><span th:text="${user.username}">name</span></h2>
        </div>
        <div class="col-6">
          <a
            th:href="@{/users/{profileString}(profileString=${user.profileString})}"
            class="btn"
            role="button"
            >View profile</a
          >
        </div>
      </div>
    </div>

    <div class="containter w60-c">
      <div class="card-deck">
        <div
          th:each="photo: ${photos}"
          class="card"
          style="max-width: 40%; min-width: 20%;"
        >
          <img
            class="card-img-top"
            th:src="@{/users/{profileString}/album/{id}(profileString=${user.profileString}, id=${photo.id}) }"
            alt=""
          />
          <div class="card-body">
            <p class="card-text" th:text="${photo.description}">description</p>
            <form
              sec:authorize="isAuthenticated()"
              th:action="@{/users/{profileString}/album/like(profileString=${user.profileString}) }"
              method="POST"
            >
              <input type="hidden" name="id" th:value="${photo.id}" />
              <button type="submit" class="btn btn-purr">
                Purr
              </button>
              <span th:text="${photo.likesCount}">Likes amount</span>
              purrrs
            </form>
          </div>
          <!-- TODO: show max 10 comments -->
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              th:each="comment, iStat : ${photo.comments}"
              th:unless="${iStat.index} > 9"
            >
              <span th:text="${comment.content}">
                Here could be a comment...</span
              >
              <blockquote class="blockquote-footer">
                <span th:text="${comment.owner.username}">name</span>
                <span
                  th:text="${#temporals.format(comment.posted, 'dd-MM-yyyy HH:mm')}"
                  >date</span
                >
              </blockquote>
            </li>
          </ul>
          <!-- TODO: vain seuraajat voivat kommentoida -->
          <div class="card-footer" sec:authorize="isAuthenticated()">
            <form
              th:action="@{/users/{profileString}/album/comment(profileString=${user.profileString}) }"
              method="POST"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="content"
                  class="form-control"
                  placeholder="..."
                  required
                />
              </div>
              <input type="hidden" name="id" th:value="${photo.id}" />
              <button class="btn" type="submit">Comment</button>
            </form>
          </div>
          <div class="card-footer" sec:authorize="isAuthenticated()">
            <form
              th:unless="${photo.profilePic}"
              th:action="@{/users/{profileString}/album/profilepic(profileString=${user.profileString}) }"
              method="POST"
            >
              <input type="hidden" name="id" th:value="${photo.id}" />
              <button class="btn " type="submit">
                Make profilepic
              </button>
            </form>

            <!-- <form
              th:action="@{/users/{profileString}/album/{id}/delete(profileString=${user.profileString}, id=${photo.id} ) }"
              method="DELETE"
            >
              <input type="hidden" name="id" th:value="${photo.id}" />
              <button
                class="btn "
                type="submit"
                onClick="return confirm('Are you sure?')"
              >
                Delete
              </button>
            </form> -->
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: vain profiilin haltija näkee -->
    <div class="container w60-c" sec:authorize="isAuthenticated()">
      <h2>Add photo</h2>
      <form
        th:action="@{/users/${user.profileString}/album}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <input type="file" name="photo" required />
        </div>
        <div class="form-group">
          <label for="description">Photo description</label>
          <input
            class="form-control"
            type="text"
            name="description"
            placeholder="Enter description"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="hidden"
            name="username"
            th:value="${user.username}"
          />
        </div>

        <button type="submit" class="btn">Add</button>
      </form>
    </div>

    <div th:replace="fragments/basic ::footer"></div>
  </body>
</html>
