<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basic :: head(title='My Twitter')">
</head>

<body>
    <div th:replace="fragments/basic :: header(title='Welcome to My Twitter!', subtitle='The number one social media app!')"></div>
    
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <h3><a th:href="@{/register}">Create account</a></h3>
            </div>
            <div class="col-6 text-center">
                <h3><a th:href="@{/login}">Sign in</a></h3>
            </div>
        </div>
    </div>

    <div class="containter">
        <div class="row">
            <div class="col-6 text-center">
                <h2>Trending in My Twitter</h2>
                <ul>
                    <li ></li>
                </ul>
            </div>
            <div class="col-6 text-center">
                <h2>Top Content Creators</h2>
            </div>
            
        </div>
    </div>

    <div th:replace="fragments/basic ::footer"></div> 
</body>

</html>