<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basic :: head(title='Register to My Twitter')">
</head>

<body>
    <nav th:replace="fragments/basic :: nav"></nav>
    <div th:replace="fragments/basic :: header(title='Welcome to My Twitter!', subtitle='We\'re thrilled that you want to join us!')"></div>

    <div class="container">
        <h2>Register to My Twitter</h2>
        <form th:action="@{/register}" th:object="${account}" method="POST">
            <div class="form-group">
                <label for="username">
                    Username:
                </label> 
                <input type="text" class="form-control" th:field="*{username}" placeholder="Enter username" required/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
            </div>
            <div class="form-group">
                <label for="password">
                    Password:
                </label> 
                <input type="text" class="form-control" th:field="*{password}" placeholder="Enter password" required/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
            </div>
            <div class="form-group">
                    <label for="name">
                        Name:
                    </label> 
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name" required/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
            </div>
            <div class="form-group">
                <label for="profileString">
                    Your home page address, your home page will be in www.myTwitter.com/users/[your address]:
                </label> 
                <input type="text" class="form-control" th:field="*{profileString}" placeholder="Enter home page address" required/>
                <p th:if="${#fields.hasErrors('profileString')}" th:errors="*{profileString}">Profilestring error</p>
            </div>
            <button type="submit" class="btn btn-primary">Register</button></td>

        </form>
    </div>
                

    <div th:replace="fragments/basic :: footer"></div> 

    <span th:replace="fragments/basic :: scripts"></span>

</body>

</html>