<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/basic :: head('My Twitter - ' + ${user.username})">
</head>

<body>

    <div class="jumbotron text-center">
        <h1 th:text="${user.username}">name</h1>
    </div>

    <!-- <h2><a th:href="@{/users/${user.profileString}/album}/">Photo album</a></h2> -->

    

    <div>
        <!-- <img /> -->
    </div>
    <!-- profile pic -->
    <!-- tweets -->
        <div class="card-columns" th:each="tweet: ${tweets}">
            <div class="card">
                <div class="card-header">
                        <div style="float:left; width:30%" th:text="${tweet.owner.username}">text</div>
                        <div style="float:left; width: 40%; margin-left: 30px" th:text="${#temporals.format(tweet.posted, 'dd-MM-yyyy HH:mm')}">header</div>
                </div>
                <div class="card-body">
                    <h3 class="card-title" th:text="${tweet.content}">description</h3>
                    <button class="btn btn-danger">Like</button>
                    <button class="btn btn-info">Comment</button>
                </div>
            </div>
        </div>

    <div class="container" sec:authorize="isAuthenticated()">
        <h2>What's up?</h2>
        <form th:action="@{/users/${user.profileString}}" method="POST">
            <div class="form-group">
                <input type="text" name="content" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="hidden" name="username" th:value="${user.username}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">TWEET</button>
        </form>
    </div>

    <div th:replace="fragments/basic ::footer"></div> 
</body>

</html>