<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${user.name}">name</title>
</head>

<body>

    <h1 th:text="${user.name}">name</h1>
    <!-- profile pic -->
    <!-- tweets -->
    <ul>
        <li th:each="tweet: ${tweets}">
            <p th:text="${tweet.owner.username}">username</p>
            <p th:text="${tweet.content}">description</p>
            <p th:text="${tweet.posted}">datetime</p>
        </li>
    </ul>

    <div sec:authorize="isAuthenticated()">
        <h2>Tweet</h2>
        <form th:action="@{/users/${user.profileString}}" method="POST">
            <input type="text" name="content" />
            <input type="hidden" name="username" th:value="${user.username}" />
            <input type="submit" value="TWEET" />
        </form>
    </div>


</body>

</html>