<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/basic :: head(title='Meower')"> </head>

  <body>
    <nav th:replace="fragments/basic :: nav"></nav>

    <div
      th:replace="fragments/basic :: header(title='Welcome to Meower!', subtitle='The number one social media app for cats!')"
    ></div>

    <div class="containter w-80">
      <div class="card-deck">
        <div
          class="card border-primary"
          th:each="user : ${users}"
          style="max-width: 40%; min-width: 20%;"
        >
          <div class="card-body">
            <!-- profile pic or default avatar, link to profile -->
            <p class="card-text" th:text="${user.username}">user</p>
          </div>
          <div class="card-footer">
            <!-- follow button, block button -->
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/basic ::footer"></div>

    <span th:replace="fragments/basic :: scripts"></span>
  </body>
</html>
