<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/basic :: head(title='Meower')"> </head>

  <body>
    <nav th:replace="fragments/basic :: nav"></nav>

    <div
      th:replace="fragments/basic :: header(title='Welcome to Meower!', subtitle='The number one social media app for cats!')"
    ></div>

    <div class="containter w80-c">
      <div class="card-deck">
        <div
          class="card"
          th:each="user : ${users}"
          style="max-width: 50%; min-width: 30%;"
        >
          <div class="card-body container">
            <div class="row">
              <div class="col-4">
                <span th:if="${user.profilePic}"
                  ><img
                    class="avatar"
                    th:src="@{/users/{profileString}/profilepic(profileString=${user.profileString})}"
                    alt="${user.username}-profile picture"
                /></span>
                <span th:unless="${user.profilePic}">
                  <img th:replace="fragments/avatar :: avatar-small" />
                </span>
              </div>
              <div class="col-8 text-center">
                <p class="card-text" th:text="${user.username}">user</p>

                <a
                  th:href="@{/users/{profileString}(profileString=${user.profileString})}"
                  class="btn "
                  role="button"
                  >View profile</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/basic ::footer"></div>

    <span th:replace="fragments/basic :: scripts"></span>
  </body>
</html>
